## Arithmetic operations

        Integer family
                int
                long - python 2 only
                float

                complex
                bool

        Arithmetic operation operators: + - * / // %
        Note: PEP 8 recommends to place one space around the operator

In [1]:
num1 = 10 # int

In [2]:
num1

10

In [3]:
print(num1)

10

In [4]:
print("num1 =", num1)

num1 = 10

In [5]:
type(num1)

int

In [7]:
num2 = 200

In [9]:
num1 + num2 # Addition

210

In [10]:
num1 - num2

-190

In [11]:
num1 * num2

2000

In [13]:
num1 / num2

0.05

NOTE: Divison will result in floating-point value everytime

In [14]:
10 / 2

5.0

In [15]:
10 / 3

3.3333333333333335

Floor division

In [17]:
10 // 2

5

In [18]:
10 // 3

3

In [19]:
-10 // 3 # -4 < -3.3333 < -3 minimum value

-4

In [20]:
num3 = 344567776657888980878676755555555555555555555768789898
print(type(num3))

<class 'int'>

Numeric literals allow optional underscores to help improve readability

In [21]:
speed_of_light = 299_792_458
print(speed_of_light, type(speed_of_light))

299792458 <class 'int'>

In [22]:

speed_of_light = 299,792,458
print(speed_of_light, type(speed_of_light))

(299, 792, 458) <class 'tuple'>

In [25]:

pi_value = 3.1415_9265_3546_793
print(pi_value, type(pi_value))

3.141592653546793 <class 'float'>

In [26]:
10 % 2

0

In [27]:
10 % 3

1

In [28]:
13 % 2

1

In [29]:
-13 % 2

1

In [30]:
13 % -2

-1

NOTE: sign of the divisor will be assigned to output


    2)13(6 --> Quotient
      12
      --
       1   --> Remainder

In [31]:
divmod(13, 2)

(6, 1)

In [32]:
13 //2, 13 % 2

(6, 1)

In [33]:
10 // 2, 10 % 2

(5, 0)

In [36]:
# Assignment -- try to the sum of digits in a integer number, using divmod()
#

(6, 1)

In [37]:
4 * 2

8

In [38]:
4 ** 2

16

In [39]:
64 ** (1 / 2)

8.0

In [40]:
64 ** 0.5

8.0

In [41]:
pow(4,2)

16

In [42]:
pow(4, 2) == 4 ** 2

True

In [44]:
pow(64, 1 / 2) == 64 ** (1 / 2)

True

In [45]:
pow(64, 0.5) == 64 ** (0.5)

True

In [46]:
pow(4, 2, 9) == (4 ** 2) % 9

True

In [47]:
pow(4, 2, 9)

7

In [48]:
(4 ** 2) % 9

7

#### Exponent Notation

In [1]:
1e1

10.0

In [3]:
e

NameError: name 'e1' is not defined

In [8]:
1e

SyntaxError: invalid decimal literal (3043676588.py, line 1)

In [4]:
e1

NameError: name 'e1' is not defined

In [5]:
10e4

100000.0

In [6]:
-10e15

-1e+16

In [7]:
56e-3

0.056

In [9]:
34e3

34000.0

In [10]:
56 e-3

SyntaxError: invalid syntax (4229736819.py, line 1)

In [11]:
1e1

10.0

In [12]:
1 * 10.0 ** 1

10.0

In [13]:
1e1 == 1 * 10.0 ** 1

True

In [14]:
3e2 # 3 * 10 ** 2

300.0

In [15]:
-2.3e4 # -2.3 * 10.0 ** 4

-23000.0

In [16]:
avogadro_num = 6.022_140_857e23
print(avogadro_num, type(avogadro_num))

6.022140857e+23 <class 'float'>

In [17]:
speed_of_light = 3e8
print(speed_of_light)

300000000.0

#### compound operators

    +- -= *= /= %=
    
    = assignment operator

In [19]:
myNumber = 123
print("myNumber =", myNumber)

myNumber = 123

In [20]:
myNumber = myNumber + 1
print("myNumber =", myNumber)

myNumber = 124

In [23]:
myNumber += 1 # myNumber = myNumber + 1
print("myNumber =", myNumber)

myNumber = 127

In cases, where the same variable is present both sides, then compound operations are valid

In [24]:
myNumber++

SyntaxError: invalid syntax (901027307.py, line 1)

In [25]:
newNumber = 5
myNumber= myNumber +  newNumber + 1
print(myNumber)

133

In [26]:
newNumber = 5
myNumber += newNumber + 1 # myNumber= myNumber +  newNumber + 1
print(myNumber)

139

In [27]:
myNumber -= 5
print(myNumber)

134

In [28]:
myNumber *= 5
print(myNumber)

670

In [29]:
myNumber /= 5
print(myNumber)

134.0

In [30]:
myNumber %= 5
print(myNumber)

4.0


NOTE: Python doesn't support unary operation such as i++, i--

### Representing Large numbers and small numbers