### Data type conversions

    - int, float, complex, boolean, string, None

    integer family

        int - decimal       - int() - base 1 (0-9)
            - binary        - bin() - base 2 (0-1)
            - hexadecimal   - hex() - base 16 (0-9 A-F)
            - octal         - oct() - base 8 (0-7)
    float
        float()
    String
        str()

In [1]:

num =12
print("num =", num, type(num))

num = 12 <class 'int'>

In [2]:
# int -> float
print(12, float(12))

12 12.0

In [6]:
# int -> str
12, str(12)

(12, '12')

In [7]:
print(12, str(12))

12 12

In [8]:
print(3.1416, int(3.1416))
print(3.1416, str(3.1416))

3.1416 3
3.1416 3.1416

In [9]:
3.1416, str(3.1416)

(3.1416, '3.1416')

In [11]:
print("23", int("23"))
print("23 ", int("23 "))
print("23 ", int("  23"))

23 23
23  23
23  23

In [12]:

print('2 3', int('2 3'))

ValueError: invalid literal for int() with base 10: '2 3'

In [13]:
int('two')

ValueError: invalid literal for int() with base 10: 'two'

In [14]:
int('23.24')

ValueError: invalid literal for int() with base 10: '23.24'

In [15]:
print("23  ", float("23"))
print("23.24", float("23.24"))
print("23  ", float("23."))
# print('2 3.', float('2 3.'))

23   23.0
23.24 23.24
23   23.0

In [18]:
print(float())
print(float("+1.23"))
print(float("     -12345\n"))
print(float("1e-003"))
print(float("+1E6"))
print(float("-Infinity"))
print(float("-inf"))

0.0
1.23
-12345.0
0.001
1000000.0
-inf
inf

In [19]:
print("str(12)          ", str(12))
print("str(121233.12323)", str(121233.12323))
print("str(-0.000012)   ", str(-0.000012))
print("str(True)        ", str(True))
print("str(None)        ", str(None))

str(12)           12
str(121233.12323) 121233.12323
str(-0.000012)    -1.2e-05
str(True)         True
str(None)         None

In [20]:
# int value is same in all four representations
# decimal, binary, hexadecimal & octal

In [21]:
num1 = 33
print("num1: ", num1, type(num1))

num1:  33 <class 'int'>

In [23]:
# decimal -> binary form 
bin(num1)

'0b100001'

In [24]:
#           128 64 32 16 8 4 2 1
#    33      0   0  1  0 0 0 0 1

In [25]:
print(23, bin(23), type(bin(23)))

23 0b10111 <class 'str'>

In [26]:
bin(23.24)

TypeError: 'float' object cannot be interpreted as an integer

In [27]:
print("0b1001", int("0b1001", base = 0))
print("1001", int("1001", base = 0))
print("bin(9)", int(bin(9), base = 0))

0b1001 9
1001 1001
bin(9) 9

In [28]:
print((9).bit_length())
print((23).bit_length())

4
5

In [29]:
# octal -> 0-7
print("oct(9) ", oct(9))
print('oct(-23)', oct(-23))

oct(9)  0o11
oct(-23) -0o27

In [30]:
"%#o" % 10, "%o" % 10
format(10, "#o"), format(10, "o")
f"{10:#o}", f'{10:0}'

('0o12', '10')

In [31]:
print(int(oct(9), base = 8))
print(int("0o11", base = 8))
print(int("11", base = 8))
print(int("11"))

9
9
9
11

In [32]:
print("hex(9)  ", hex(9))
print("hex(-23)", hex(-23))

hex(9)   0x9
hex(-23) -0x17

In [33]:
print(int(hex(-23), base = 16))
print(int("-0x17", base = 16))
print(int('-17', base = 16))
print(int('-17'))

-23
-23
-23
-17

In [34]:
"%#x" % 255, "%x" % 255, '%X' % 255
format(255, "#x"), format(255, "x"), format(255, "X")
f"{255:#x}", f'{255:x}', f'{255:X}'

('0xff', 'ff', 'FF')

In [35]:
print((-2).is_integer())
print((-2.1).is_integer())
print((-1.999999).is_integer())

True
False
False

In [36]:
# Ref: https://unicode-table.com/