### String Operations

    Strings can be represented using
        1) single quotes,
        2) double quotes, or
        3) triple single quotes or
        4) triple double quotes

In [1]:
# String with single quotes
language = 'Python Programming'
print(language, type(language))

Python Programming <class 'str'>

In [2]:
# String with double quotes
language = "Python Programming"
print(language, type(language))

Python Programming <class 'str'>

In [3]:
# String with triple single quotes
language = '''Python Programming'''
print(language, type(language))

Python Programming <class 'str'>

In [4]:
# String with triple double quotes
language = """Python Programming"""
print(language, type(language))

Python Programming <class 'str'>

In [5]:
# NOTE: PEP 8 -> Use triple quotes for doc strings

### Importance and usage of multiple quotes

In [4]:
language = 'Python Programming'
print(language, type(language))

Python Programming <class 'str'>

In [5]:
question = "How are you ?"
print(question, type(question))

How are you ? <class 'str'>

In [6]:
where_abouts = 'what's up !'

SyntaxError: unterminated string literal (detected at line 1) (3503667590.py, line 1)

In [9]:
where_abouts = 'what\'s up !'
print(where_abouts, type(where_abouts))

what's up ! <class 'str'>

In [10]:
# Note 1: Placing \ before any operator with result
# in treating operator as a ordinary character

In [11]:
other_string = 'what's going in your's law's house'

SyntaxError: unterminated string literal (detected at line 1) (4043966233.py, line 1)

In [12]:
other_string = 'what\'s going in your\'s law\'s house'

In [13]:
other_string = "what's going in your's law's house"
print(other_string)

what's going in your's law's house

In [14]:
sql_command = "select * from mytable where name = 'udhay' and profession like "%work""

SyntaxError: invalid syntax (1463427495.py, line 1)

In [15]:
sql_command = '''select * from mytable where name = 'udhay' and profession like "%work"'''
print(sql_command)

select * from mytable where name = 'udhay' and profession like "%work"

In [16]:
some_other_str = """ python -c 'awdwad' asds "sfdffdg", '''kjgvekqrwhro2y3o'''"""
print(some_other_str)

 python -c 'awdwad' asds "sfdffdg", '''kjgvekqrwhro2y3o'''

In [17]:
print("\n\n")
# '\''
# "'"
# '"'
# ''' '""' '''
# """ ''' '""' '''' """
# " ''' "


#### Multi Line strings

In [18]:

print(
    'Today is an awesome day
    to learn python'
)

SyntaxError: unterminated string literal (detected at line 2) (4086249993.py, line 2)

In [19]:
print(
    'Today is an awesome day\
    to learn python'
)

# \ line continuation operator

Today is an awesome day    to learn python

In [20]:
print(
    "Today is an awesome day\
    to learn python"
)

Today is an awesome day    to learn python

In [22]:

print(
    '''Today is an awesome day\
    to learn python'''
)

Today is an awesome day    to learn python

In [23]:
print(
    """Today is an awesome day\
    to learn python"""
)

Today is an awesome day    to learn python

In [24]:
print(
    '''Today is an awesome day
    to learn python'''
)

Today is an awesome day
    to learn python

In [25]:
print(
    """Today is an awesome day
    to learn python"""
)

Today is an awesome day
    to learn python

##### by default, triple quote strings are designed for multiline

In [26]:
print(
    """
    A - Apple
    B - Ball
    C - Cat
    D - Dog
"""
)

    A - Apple
    B - Ball
    C - Cat
    D - Dog

In [27]:
sql_cmd = '''
    select * 
    from table1 t1
    LEFT JOIN table t2 on t1.id = t2.id
    ORDER BY ti.id;
'''
print(sql_cmd)

    select *
    from table1 t1
    LEFT JOIN table t2 on t1.id = t2.id
    ORDER BY ti.id;

In [28]:
my_string = '''select * from my_table where column='python' and column2="django"'''
print(my_string)

select * from my_table where column='python' and column2="django"

In [29]:
my_string = """ select * from my_table where column='python' and column2="django""""

SyntaxError: unterminated string literal (detected at line 1) (4229607144.py, line 1)

In [30]:

my_string = """ select * from my_table where column='python' and column2="django" """

In [31]:
my_string = """ select * from my_table where column='python' and column2="django";"""


##### String Indexing

In [32]:
language = 'Python programming'
print(language, type(language))

Python programming <class 'str'>

In [33]:
print("len(language", len(language))

18

In [35]:
# P   y t h o n   P r  o g  r  a  m  m  i  n  g
# 0   1 2 3 4 5 6 7 8  9 10 11 12 13 14 15 16 17 - forward indexing
# -18 - - - - - - - - -9 -8 -7 -6 -5 -4 -3 -2 -1 - reverse indexing

# NOTE: Indexing starts with 0

In [36]:
print("language     :", language)
print("language[14] :", language[14])
print("language[6]  :", language[6])
print("language[17] :", language[17])

language     : Python programming
language[14] : m
language[6]  :
language[17] : g

In [37]:
print("language[18] :", language[18])

IndexError: string index out of range

In [38]:
print("language[0]  :", language[0])
print("language[-0] :", language[-0])

language[0]  : P
language[-0] : P

In [39]:
print("language[-3]  :", language[-3])
print("len(language) :", len(language))
print("language[len(language)-3]: ", language[len(language)-3])

language[-3]  : i
len(language) : 18
language[len(language)-3]:  i

In [40]:
# P   y t h o n   P r  o g  r  a  m  m  i  n  g
# 0   1 2 3 4 5 6 7 8  9 10 11 12 13 14 15 16 17 - forward indexing
# -18 - - - - - - - - -9 -8 -7 -6 -5 -4 -3 -2 -1 - reverse indexing

# NOTE: Indexing starts with 0

In [41]:
print("language[-18] :", language[-18])
print("language[0]  :", language[0])

language[-18] : P
language[0]  : P

In [42]:
print("language[-19] :", language[-19])

IndexError: string index out of range

In [43]:
print("language[0.0] :", language[0.0])

TypeError: string indices must be integers, not 'float'

#### String slicing operations

In [44]:
# P   y t h o n   P r  o g  r  a  m  m  i  n  g
# 0   1 2 3 4 5 6 7 8  9 10 11 12 13 14 15 16 17 - forward indexing
# -18 - - - - - - - - -9 -8 -7 -6 -5 -4 -3 -2 -1 - reverse indexing

In [50]:
print(language[0:5])

Pytho

In [57]:
print(language[5:17])
print(language[5:18])

n programmin
n programming

In [55]:
print(language[7:10])

prog

In [56]:
print("language[7:18] :", language[7:18])
print("language[7:999] :", language[7:999])
print("language[45:97] :", language[45:97])

language[7:18] : programming
language[7:999] : programming
language[45:97] :

In [1]:

# string slicing
#   string [start: end: step]
#   default step is +1

In [3]:
language = 'Python programming'
print(language, type(language))

Python programming <class 'str'>

In [4]:
print(language[7:18])

programming

In [5]:
print(language[7:18:1])
# [7:18:1] => 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17

programming

In [6]:
print(language[7:18:2])

pormig

In [7]:
# P   y t h o n   P r  o g  r  a  m  m  i  n  g
# 0   1 2 3 4 5 6 7 8  9 10 11 12 13 14 15 16 17 - forward indexing
# -18 - - - - - - - - -9 -8 -7 -6 -5 -4 -3 -2 -1 - reverse indexing
print(language[7:18:3]) # 7, 10, 13, 16

pgmn

In [8]:
print(language[7:18:-1])
 # 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9, 
 # 7-1 = 6 it is not between the limit

In [9]:
print(language[17:7:-1]) 
# 17, 16, 15, 14, 13, 12, 11, 10, 9, 8
# 17-1 = 16 it is between the limit

gnimmargor

In [10]:
print(language[18:6:-1])
# [18:6:-1] => 18, 17, 16, 15, 14.......7
# -1        => 17, 16, 15, 14.........7

gnimmargorp

In [11]:
print(language[19:6:-1])

gnimmargorp

In [12]:
print(language[18:7:-3])
# [18:7:-3] => 18, 15, 12, 9
# -1        => 17, 14, 11, 10

gmrr

In [13]:
print(language[23:7:-3])
# [23:7:-3] => 23, 20, 17, 14, 11, 8
# -6        => 17, 14, 11, 8

print(language[25:7:-2])
# [25:7:-2] => 25, 23, 21, 19, 17, 15, 13, 11, 9
# -8        => 17, 15, 13, 11, 9

gmrr
gimro

In [16]:
# string slicing [start_index:final_index: step]
# default start_index = 0
# default final_index = string length
# defaukt step = +1

In [14]:
language[0:7:1]

'Python '

In [15]:
language[:7]

'Python '

In [19]:
language[::]

'Python programming'

In [ ]:
# P   y t h o n   P r  o g  r  a  m  m  i  n  g
# 0   1 2 3 4 5 6 7 8  9 10 11 12 13 14 15 16 17 - forward indexing
# -18 - - - - - - - - -9 -8 -7 -6 -5 -4 -3 -2 -1 - reverse indexing

In [20]:
language[0:] # [0:18:+1]

'Python programming'

In [21]:
language[6:] #[6:18:+1]

' programming'

In [22]:
language[:]

'Python programming'

In [23]:
language

'Python programming'

In [24]:
language[::]

'Python programming'

In [25]:
language[::1]

'Python programming'

In [26]:
language[::3] # [0:18:+3]

'Ph oai'

In [27]:

# if step is -ve, start and end are not given,
# then
#   start = length_of_string - 1
#   end = -1

In [28]:
language[::-1] # [17:-1:-1] => 17, 16, ........0

'gnimmargorp nohtyP'

In [29]:
language[:-1]

'Python programmin'

In [30]:
language[::-3] # [17:-1:-3] => 17, 14, ....., 2

'gmrrnt'

In [31]:
# P   y t h o n   P r  o g  r  a  m  m  i  n  g
# 0   1 2 3 4 5 6 7 8  9 10 11 12 13 14 15 16 17 - forward indexing
# -18 - - - - - - - - -9 -8 -7 -6 -5 -4 -3 -2 -1 - reverse indexing

In [32]:
language[::-5] # [17:-1:-5]

'gapt'

In [1]:
name = "Varun Dhawan"

In [34]:
name

'Varun Dhawan'

In [35]:
name[:]

'Varun Dhawan'

In [36]:
name[::]

'Varun Dhawan'

In [37]:
name[::1]

'Varun Dhawan'

In [38]:
name[::-1]

'nawahD nuraV'

In [39]:
# Assignment do perform inplace word reversal for a string
# nuraV nawahD

In [51]:
print(name[4::-1], name[:5:-1]) # 4, 3, 2, 1, 0

nuraV nawahD

In [53]:
name[2::-1] # 2, 1, 0

'raV'

In [54]:
name[2:4:-1]

''

In [55]:
other_str = "today is good day"
# yadot si doog yad
# y a d o t   s i   d o  o  g     y  a  d
# 0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16
# -17 ................................  -1

In [58]:
print(other_str[4::-1], other_str[7:5:-1], 
      other_str[12:8:-1], other_str[:13:-1])

yadot si doog yad

In [2]:
name[4:]

'n Dhawan'

In [3]:
name[:4]

'Varu'

In [4]:
name[:5]

'Varun'

In [5]:
name[:-6] # Varun Dhawan [0:-6:1] =>[0:6:1] => [0:12-6:1] (-6 == 6) same position

'Varun '

In [6]:
name[-6:] #

'Dhawan'

In [7]:
name[2:-5]

'run D'